body{
  background-image: url("decrypt.jpg");
  background-color: grey;
}

h1{
  color:white;
  background-color: #2C3539;
  text-align: center;
  padding: 30px;
}

p1{
  display:block;
  color:white;
  background-color: #2C3539;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

#Home {
  text-align: center;
  text-shadow: 1px 1px;
  color: white;
  font-family: "Corrier New";
  font-size: 50px;
}

#Welcome {
  color: white;
  font-sixe: 30px;
}

.navigation{
  background-color: white;
  text-align: center;
  color: white;
  font-family: "Corrier New";
  font-size: 30px;

  li{
    border-right: 1px solid #black
  }
}
