body{
  background-color: #58688F;
}
h1{
  color: white;
  text-align: center;
  font-family: "Corrier New";
}
a{
	background-color: black;
	color: white;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}
